<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>BioPyxie</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <a class="navbar-brand text-light" href="/">BioPyxie</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active m-1">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown m-1">
            <a class="nav-link dropdown-toggle" href="/lab" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Laboratory
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/lab/tutorial">Tutorial</a>
              <a class="dropdown-item" href="/lab/apps">Apps</a>
            </div>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link" href="/forum">Forums</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid px-0">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/atoms1.jpg" class="d-block w-100" alt="1">
            <div class="carousel-caption d-none d-md-block">
              <h5><span class="text-light bg-info p-1">Biología Molécular</span></h5>
              <p><span class="text-light bg-info p-1">En BioPyxie nos encanta jugar con la Bioquímica!</span></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/lab1.jpg" class="d-block w-100" alt="2">
            <div class="carousel-caption d-none d-md-block">
              <h5><span class="text-light bg-info p-1">Visita nuestro laboratorio!</span></h5>
              <p><span class="text-light bg-info p-1">Prueba nuestras aplicaciones y empieza a jugar con moléculas!</span></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/forum.jpg" class="d-block w-100" alt="3">
            <div class="carousel-caption d-none d-md-block">
              <h5><span class="text-light bg-info p-1">Forma parte de la comunidad!</span></h5>
              <p><span class="text-light bg-info p-1">Ingresa a BioPyxie Forums para una experiencia completa!</span></p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container my-3">
      <h2 class="text-center my-3 py-3">Bienvenido a BioPyxie</h2>
      <div class="card-columns">
        <div class="card">
          <img src="/static/img/inicio.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¡Que gusto ver que llegaste!</h5>
            <p class="card-text">Gracias por visitar BioPyxie, estamos muy contentos de que te hayas animado a entrar! Ya has revisado nuestro laboratorio? Es otro mundo allí dentro, no olvides siempre llevar tus guantes y bata de seguridad! Dicen por ahí que desde la primera vez que entras ya no podrás salir, se recomienda tomar muchas precauciones.<br><b>Mucho texto?&nbsp</b>Entonces, ¿qué esperas más a entrar para entrar a uno de nuestros laboratorios?
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p><b>Pytein</b> es una poderosa herramienta para analizar y apreciar muy bien cualquier proteina de cualquier ser vivo! </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                <cite title="Source Title">Una linda Proteina</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img src="/static/img/card2.jpg" class="card-img-top" alt="a laboratory">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Aunque nuestro laboratorio no luzca exactamente como el de la imagen, aquí también puedes visualizar e interactuar con biomoléculas muuuy de cerca... <b>guiño, guiño</b>.</p>
            <p class="card-text"><small class="text-muted">Prueba Molemule!</small></p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Pyteins, Molemule o Nucleotide... todas me encantan!</p>
            <footer class="blockquote-footer text-white">
              <small>
                 <cite title="Source Title">Albert Einstein</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">BioPyxie Forums</h5>
            <p class="card-text">Despues de un rato de laboratorio siempre viene bien conectarse con la comunidad, entra a nuestro Foro y empieza a a compartir Bioquímica con otros miembros de BioPyxie!</p>
            <p class="card-text"><small class="text-muted">Siempre serás Bienvenido!</small></p>
          </div>
        </div>
        <div class="card">
          <img src="/static/img/limits.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>No existen límites para BioPyxie, en <b>Molemule</b> puedes observar moléculas en 3D que ni siquiera existen en la vida real! Es impresionante, échenle un vistazo, seguro les gustará como a mí!</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                <cite title="Source Title">Posiblemente uno de los creadores</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nucleotide</h5>
            <p class="card-text">Si te interesan los genes, mutaciones y nucleótidos, ya sabes qué aplicación no te puedes perder!</p>
            <p class="card-text"><small class="text-muted">Encuéntrala en nuestro laboratorio.</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="py-4 bg-info">
      <div>
        <p class="m-0 text-center text-light">BioPyxie &copy; 2020</p>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>

  </html>
