{% extends 'forum/forum.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'auth/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" href="{% static 'auth/css/style.css' %}">
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <div class="container my-3">
      <div class="alert alert-danger" role="alert"><a href="#" class="alert-link">{{message}}</a>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="container my-3">
      <div id="messages" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Bien hecho, {{message}}!</h4>
        <p>Aww yeah, desde ahora eres miembro de la comunidad BioPyxie. Estamos muy felices de que seas parte de esto!</p>
        <hr>
        <p class="mb-0">Ahora que estás registrado, puedes ingresar a BioPyxie Forums ingresando tu nombre de usuario y contraseña!</p>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  <section>
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="/static/auth/images/signin-image.jpg" alt="sing up image"></figure>
          <a href="/forum/register" class="signup-image-link">Create an account</a>
        </div>
        <div class="signin-form">
          <h2 class="form-title">Sign in</h2>
          <form method="POST" class="register-form" id="login-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="username" id="your_name" placeholder="Your Name" />
            </div>
            <div class="form-group">
              <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="password" id="your_pass" placeholder="Password" />
            </div>
            <div class="form-group">
              <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
              <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
            </div>
          </form>
          <div class="social-login">
            <span class="social-label">Or login with</span>
            <ul class="socials">
              <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
              <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
              <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
