{% extends 'forum/forum.html' %}
{% load static %}
{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'forum/css/profile.css' %}" rel="stylesheet">
<div class="container my-3">
  {% for message in messages %}
  <div class="container my-3">
    <div class="alert alert-success" role="alert"><a href="#" class="alert-link">{{message}}</a>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-4 mb30">
      <div class="card">

        <div class="card-content pt20 pb20 profile-header">
          <img src="{{ user.profile.image.url }}" alt="" class="img-fluid rounded-circle">
          <h4 class="card-title text-center mb20">{{ user.username }}</h4>
          <p>
            Hola, Me llamo {{ user.username }}! Soy un miembro de BioPyxie y me encanta el curso de ICC de la universidad UTEC!
          </p>

          <hr>
          <div class="row">
            <div class="col-md-4 mb20">
              <h5>947</h5>
              <h6 class="text-small text-muted">Followers</h6>
            </div>
            <div class="col-md-4 mb20">
              <h5>583</h5>
              <h6 class="text-small text-muted">Tweets</h6>
            </div>
            <div class="col-md-4 mb20">
              <h5>48</h5>
              <h6 class="text-small text-muted">Posts</h6>
            </div>
          </div>
          <hr>
          <div class="container my-3">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form }}
                {{ p_form }}
              </fieldset>
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
              </div>
            </form>
          </div>
          <div class="skill-bar mb20 clearfix">

            <span>HTML5 / CSS3</span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
            </div>
          </div>
          <!--skill bar-->
          <div class="skill-bar mb20 clearfix">

            <span>Javascript</span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 89%"></div>
            </div>
          </div>
          <!--skill bar-->
          <div class="skill-bar mb20 clearfix">

            <span>Bootstrap</span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
            </div>
          </div>
          <!--skill bar-->
          <div class="skill-bar clearfix">

            <span>Coffee</span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
            </div>
          </div>
          <br>
          <!--skill bar-->
        </div>
        <!--content-->

      </div>
    </div>
    <div class="col-md-8 mb30">
      <div class="card">
        <div>

          <!-- Nav tabs -->
          <ul class="nav tabs-admin" role="tablist">
            <li role="presentation" class="nav-item"><a class="nav-link active" href="#t1" aria-controls="t1" role="tab" data-toggle="tab">Posts</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="#t1" aria-controls="t1" role="tab" data-toggle="tab">Settings</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content admin-tab-content pt30">
            <div role="tabpanel" class="tab-pane active show" id="t1">
              <ul class="activity-list list-unstyled">
                <li class="clearfix">
                  <div class="float-left">
                    <a href="#"><img src="{{ user.profile.image.url }}" alt="" class="img-fluid rounded-circle"></a>
                  </div>
                  <div class="act-content">
                    <div class="font400">

                      <a href="#" class="font600">John Doe</a> Sent you a direct Image
                    </div>
                    <span class="text-small">11 Min Ago</span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
                    </p>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="float-left">
                    <a href="#"><img src="{{ user.profile.image.url }}" alt="" class="img-fluid rounded-circle"></a>
                  </div>
                  <div class="act-content">
                    <div class="font400">

                      <a href="#" class="font600">Robin jackson</a> Started Following You
                    </div>
                    <span class="text-small">11 Min Ago, On <a href="#">Twitter</a></span>
                    <p class="mb0">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
                    </p>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="float-left">
                    <a href="#"><img src="{{ user.profile.image.url }}" alt="" class="img-fluid rounded-circle"></a>
                  </div>
                  <div class="act-content">
                    <div class="font400">

                      <a href="#" class="font600">Pamela jackson</a> Sent you a private message
                    </div>
                    <span class="text-small">11 Min Ago, On <a href="#">Facebook</a></span>
                    <p class="mb20">
                      " Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years, sometimes by accident, sometimes on purpose (injected
                      humour and the like).
                    </p>
                    <a href="#" class="btn btn-sm btn-secondary">Reply</a>
                  </div>
                </li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="t2">
              <ul class="activity-list list-unstyled">
                <li class="clearfix">
                  <div class="float-left">
                    <a href="#"><i class="icon-palette"></i></a>
                  </div>
                  <div class="act-content">
                    <div class="font400">

                      <a href="#" class="font600">Admin Dashboard</a>

                    </div>
                    <span class="text-small">11 Min Ago</span>
                    <div class="mb10">
                      <span class="label label-default">Bootstrap4</span>
                      <span class="label label-default">Angular4</span>
                      <span class="label label-default">HTML5/CSS3</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                    </p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="float-left">
                    <a href="#"><i class="icon-user"></i></a>
                  </div>
                  <div class="act-content">
                    <div class="font400">

                      <a href="#" class="font600">Assan Beauty Spa</a>

                    </div>
                    <span class="text-small">11 Min Ago</span>
                    <div class="mb10">
                      <span class="label label-default">Bootstrap4</span>
                      <span class="label label-default">Angular4</span>
                      <span class="label label-default">HTML5/CSS3</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                    </p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="float-left">
                    <a href="#"><i class="icon-pencil"></i></a>
                  </div>
                  <div class="act-content">
                    <div class="font400">

                      <a href="#" class="font600">Admin Education Bootstraap4</a>

                    </div>
                    <span class="text-small">11 Min Ago</span>
                    <div class="mb10">
                      <span class="label label-default">Bootstrap4</span>
                      <span class="label label-default">Angular4</span>
                      <span class="label label-default">HTML5/CSS3</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                    </p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%"></div>
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="float-left">
                    <a href="#"><i class="icon-star"></i></a>
                  </div>
                  <div class="act-content">
                    <div class="font400">

                      <a href="#" class="font600">Assan Restaurant</a>

                    </div>
                    <span class="text-small">11 Min Ago</span>
                    <div class="mb10">
                      <span class="label label-default">Bootstrap4</span>
                      <span class="label label-default">Angular4</span>
                      <span class="label label-default">HTML5/CSS3</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                    </p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="t4">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
